#wrap{
    border: 1px solid black;
    width: 1000px;
    font-size: 5rem;
}


.header{
    
    box-sizing: border-box;
    
}
.container::after{
    content: " ";
    display: block;
    clear: both;
    
    
}
.container{
    border-top: 1px solid brown;

}
.container > div{
    float: left;
    border-left: 1px solid red;
    margin-left: -2px;
    width: 499px;
    
}

.foot{
    border-top: 1px solid brown;
}

    
