#wrap{
    border: 1px solid black;
    width: 1000px;
    box-sizing: border-box;
    
}
.header{
    border-bottom:1px solid black;
    
    height: 50px;
}
.container > div{
    height: 400px;
    content: "";
    display: inline-block;
    clear: both;
    
}

.article1{
    float: left;
    border: 1px solid black;
    width: 490px;
    vertical-align: top;
    
    
    
}
.article2{
    float: right;
    width: 490px;
    border: 1px solid black;
    
    
}
.foot{
    border-top: 1px solid black;
    height: 50px;
    clear: both;
}

