#wrap{
    border: 1px solid black;
    width: 1000px;
    box-sizing: border-box;
    
}
.header{
    border-bottom:1px solid black;
    height: 100px;
    content: "";
    display: block;
    clear: both;
    
}

.gnb_01{
    float: left;
    border-right: 1px solid black;
    width: 499px;
    height: 101px;
}
.gnb_02{
    float: left;
    height: 10px;
}    
    
    
    


.container > div{
    height: 200px;
    clear: both;
}

    
    

.foot{
    border-top: 1px solid black;
    height: 100px;
}
   