




    /* 슬라이드 사진/뉴스 */
.visual{
    display: flex;
    padding: 20px;
}
    


.visual_news{
    display: inline-block;
    position:absolute;
    margin: 20px 0px 0px 700px;
    background: url(../test_web/img/bg_news.png);
    padding: 20px;
    right: 200px;
    top: 180px;
    width: 290px;
    height: 240px;
    color: #fff;
}
    
.visual_news > h3{
    font-size: 20px;
    padding-bottom: 10px;
}
.visual_news > p ,
.news_under {
    margin-top: 45px;
    font-size: 14px;
}
.news_under > li{
    margin-top: 5px;
}    

.news_plus{
    background: url(../test_web/img/plus.png);
    position: absolute;
    margin-bottom: 10px;
    right: 0px;
    bottom: 95px;
    display: block;
    width: 66px;
    height: 66px;
    font-size: 0;
}
.wrap_button{
    position: absolute;
    margin-top: 40px;
    display: flex;
    right: 152px;
}
    
    
.btn_prev{
    background: url(../test_web/img/news_control.png);
    width: 60px;
    height: 60px;
    font-size: 0px;
}
    

.btn_stop{
    background:  url(../test_web/img/news_control.png);
    background-position: -125px;
    width: 60px;
    height: 60px;
    font-size: 0px;
}
.btn_next{
    background:  url(../test_web/img/news_control.png);
    background-position: -185px;
    width: 60px;
    height: 60px;
    font-size: 0px; 
}

/* ----------------------------------------------- */

/* 비정규군 보상위원회 ~ 열린장관실 */

.wrap_list{
    background-color: rgb(242, 242, 242);
    height: 150px;
    
}
    




.btn_list{
    display: flex;
    justify-content: space-between;
    position: relative;
}
    

.btn_list>li>a{
    display: inline-block;
    width: 80px;
    height: 55px;
    font-size: 12px;
    font-weight:bold;
    margin-top: 20px;
}

.btn_list > li > a > h4{
    margin-top: 50px;
}
   
    

.list_1{
    background: url(../test_web/img/btn_rolling.png);
    background-position: 76px;
}   
.list_2{
    background: url(../test_web/img/btn_rolling.png);
    background-position: 10px;
} 
.list_3{
    background: url(../test_web/img/btn_rolling.png);
    background-position: -100px;
}   
.list_4{
    background: url(../test_web/img/btn_rolling.png);
    background-position: -220px;
}   
.list_5{
    background: url(../test_web/img/btn_rolling.png);
    background-position: -335px;
}   
.list_6{
    background: url(../test_web/img/btn_rolling.png);
    background-position: -460px;
}   
.list_7{
    background: url(../test_web/img/btn_rolling.png);
    background-position: -690px;
}   
.list_8{
    background: url(../test_web/img/btn_rolling.png);
    background-position: -810px;
}   
.list_9{
    background: url(../test_web/img/btn_rolling.png);
    background-position: -930px;
}   
.list_10{
    background: url(../test_web/img/btn_rolling.png);
    background-position: -1050px;
}   


/* ----------------------------------------------------- */

/* 보도자료 card*/
.wrap_news{
    display: inline-block;
    position: relative;
    bottom: 50px;
}
    
.news_box_gr,.news_box_bl{
    border: 5px solid #dfdfdf;
    display: inline-block;
    position:absolute;
    background-color: #fff;
    width: 300px;
    padding: 60px 25px 50px 27px;
    height: 155px;
    font-size: 14px;
}

.edge_gr{
    
    position: relative;
    background-color: #15989a;
    padding: 5px 5px 5px 5px;
    color: #fff;
    
}
.edge_gr > img{
    position: absolute;
    left: 0px;
    top: 28px;
}

    
    


    
    
.news_more{
    position: absolute;
    top: 40px;
}
.card_title{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
.news_box_gr > p,
.news_box_bl > p{
    margin-top: 10px;
}
    
.news_box_bl{
    left: 500px;
}



.news_bn {
    display: block;
    position: relative;
    text-align:end;
}
.wrap_title{
    margin-top: 15px;
    text-align: center;
    height: 65px;
    
}
.wrap_title ul > li> a{
    color: #fff;
    font-weight: bold;
}

.news_title_gr{
    position: absolute;
    background: url(../test_web/img/bg_news_green02.gif);
    height: 66px;
    left: 0px;
    width: 352px;
}
    
.news_title_bl{
    position: absolute;
    background: url(../test_web/img/bg_news_blue02.gif);
    height: 66px;
    left: 0px;
    width: 352px;
}


    
    
.news_title_gr> li,
.news_title_bl> li {
    margin-top: 10px;
    padding-bottom: 10px;
    
}
    
.bn_img{
    display: block;
    position: relative;
    background: url(../test_web/img/bn_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0px;
    width: 290px;
    height: 240px;
    left: 970px;
}
    


    
.bn_btt {
    position:relative;
    margin-left: 970px;
    bottom: 25px;

}   
    
    
.bn_notice{
    background: url(../test_web/img/bg_slider_bn.png);
    width: 290px;
    display: flex;
    position: relative;
    font-weight: bold;
    color: #fff;
    height: 25px;
    margin-top: 5px;
    bottom: 2px;
    
   

}    
.bn_control{
   
    position: relative;
    left: 160px;
    width: 131px;
    bottom: 27px;
    
    display: flex;
    justify-content: end;
    
    
    

}   
.bn_prev{
    background: url(../test_web/img/btn_control_btt.png);
    font-size: 0px;
    height: 25px;
    width: 30px;
    background-position: -10px;
}    
.bn_stop{
    background: url(../test_web/img/btn_control_btt.png);
    font-size: 0px;
    height: 25px;
    width: 30px;
    background-position: -50px;
    
} 
.bn_next{
    background: url(../test_web/img/btn_control_btt.png);
    font-size: 0px;
    height: 25px;
    width: 30px;
    background-position: -130px;
}
.bn_all{
    background: url(../test_web/img/btn_control_btt.png);
    font-size: 0px;
    height: 25px;
    width: 30px;
    background-position: -170px;
}   

    
    


/* ----------------------------------------- */
/* 카드뉴스 */

.wrap_card_news{
    border: 1px solid #d2d2d2;
    display: flex;
    justify-content: space-between;
    
}
.wrap_card_news > li{
    padding: 20px;
    text-align: center;
}    
.wrap_card_news :not(li:last-child) {
    border-right:1px solid #d2d2d2;
} 
.wrap_card_news > li > a > p{
    color: #434343;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.wrap_card_news > li > a > img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 20px
}
    
   
    
.wrap_card_news > li > a > h4{
    display: inline-block;
    position: absolute;
    background-color: #da5504;
    font-weight: bold;
    font-size: 11px;
    padding: 10px;
    color: #fff;
    
}
    
    
.wrap_card_news > li > a > h4::after{
    content: " ";
    display: block;
    background: url(../test_web/img/bg_card_under.png);
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 30px;
}
.wrap_card_news > li > a > h4::before{
    content: " ";
    display: block;
    background: url(../test_web/img/bg_card.png);
    width: 10px;
    height: 10px;
    position: absolute;
    right: -10px;
    top: 1px;
}   
   
/* ------------------------------------ */
/* 주요정보 바로가기 / 배너 */
.wrap_bn{
    display:flex;
}

.wrap_quick_btn{
    border: 1px solid #d2d2d2;
    display: block;

}
    
.wrap_btn{
    
    border-bottom: 8px solid #f3f3f3;
    display: flex;
    padding: 10px 0px 15px 0px;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
}

    

    
.bn_btn_prev{
    background: url(../test_web/img/btn_rolling02_cont.gif);
    background-position: -1px;
    text-indent: -3000px;
    width: 30px;
    height: 30px;
}    
.bn_btn_stop{
    background: url(../test_web/img/btn_rolling02_cont.gif);
    background-position: -33px;
    text-indent: -3000px;
    width: 30px;
    height: 30px;
}
.bn_btn_next{
    background: url(../test_web/img/btn_rolling02_cont.gif);
    background-position: -92px;
    text-indent: -3000px;
    width: 30px;
    height: 30px;
}
    

.wrap_quick{
    display: flex;
}    



    







.bn_sns{
    border: 1px solid #d2d2d2;
    margin-left: 30px;
    width: 700px;
    display: block;
}
.sns_link{
    background: url(../test_web/img/bg_sns_list.gif);
    display: inline-block;
    width: 100%;
    height: 90px;
    text-align: center;
}
.box_link {
    display: inline-block;
    margin-top: 20px;
}

    
.sns_link > ul > li{
    display: inline-block;
    text-indent: -3000px;
}

.sns_link > ul > li > a{
    display: block;
    width: 36px;
    height: 36px;
}

.sns_icon_01{
    background: url(../test_web/img/btn_sns.png);
    background-position: -5px;
}    
.sns_icon_02{
    background: url(../test_web/img/btn_sns.png);
    background-position: -41px;
}    
.sns_icon_03{
    background: url(../test_web/img/btn_sns.png);
    background-position: -77px;
}    
.sns_icon_04{
    background: url(../test_web/img/btn_sns.png);
    background-position: -223px;
}    
.sns_icon_05{
    background: url(../test_web/img/btn_sns.png);
    background-position: -150px;
}    
    





.box_call > h4{
    font-size: 17px;
}
.box_call {
    margin-top: 10px;
}
.box_call > p > span {
    font-size: 14px;
}
.box_call > p{
    margin-top: 10px;
}
    
.sns_call{
    display: inline-block;
    background: url(../test_web/img/bg_help.gif);
    color: #fff;
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    text-align: center;
}
.fax{
    margin-right: 20px;
    color: #afe8ff;
    
}



/* --------------------------------------- */
/* 국방문화체험 ~ 입대장병소식/군인가족지원 */

.wrap_link_go{
    margin: 20px 0px 20px;
}
.box_link_go{
    border: 5px solid #dadada;
    display: flex;
    background: url(../test_web/img/bg_box_quick.png);
    justify-content: space-between;
    
}
    
.box_link_go > :not(div:last-child){
    border-right: 1px solid #d2d2d2;
}

.wrap_box_link{
    padding: 20px;
}
.wrap_box_link > ul > li > a{
    color: #333;
    font-size: 13px;
}    
.wrap_box_link > h4{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom:1px solid #d2d2d2;
    padding-bottom: 10px;
    font-weight: bold;
}
    
    
    
.wrap_box_link > ul{
    display: inline-block;
}
.last_line{
    margin-left: 10px;
}    
    
    




    
    
    
    
    
    
    
    




    